$color-black: #1c1f24;
$color-gray: #26282e;
$color-midgray: #36383e;
$color-lowgray: #8e8e8e;
$color-white: #f0f0f0;
$color-red: #cf4a4a;
$margin-1: 3px;
$margin-2: 5px;
$margin-3: 10px;
$margin-4: 30px;
$margin-5: 40px;
$font-size-1: 24px;
$font-size-2: 20px;
$font-size-3: 18px;
$font-size-4: 16px;
$font-size-5: 14px;
$font-size-6: 12px;
$font-family: Roboto, sans-serif;

$toolbar-height: 40px;
$toolbar-offset: 40px;

$layout-list-width: 200px;
$layout-drawer-width: 350px;

//APP LAYOUT
.maputnik-layout {
  font-family: $font-family;
  color: $color-white;

  &-list {
    position: fixed;
    bottom: 0;
    height: calc(100% - #{$toolbar-height + $toolbar-offset});
    top: $toolbar-height + $toolbar-offset;
    left: 0;
    z-index: 3;
    width: $layout-list-width;
    background-color: $color-black;
  }

  &-drawer {
    position: fixed;
    bottom: 0;
    height: calc(100% - #{$toolbar-height + $toolbar-offset});
    top: $toolbar-height + $toolbar-offset;
    left: 200px;
    z-index: 1;
    width: $layout-drawer-width;
    background-color: $color-black;
  }

  &-bottom {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 550px;
    z-index: 1;
    width: 100%;
    background-color: $color-black;
  }
  @import 'mixins';
  @import 'reset';
  @import 'base';
  @import 'components';
  @import 'scrollbar';
  @import 'picker';
  @import 'toolbar';
  @import 'modal';
  @import 'export';
  @import 'layout';
  @import 'layer';
  @import 'input';
  @import 'filtereditor';
  @import 'zoomproperty';
  @import 'popup';
  @import 'map';
  @import 'react-collapse';
}
